
body{
    background-color: lightblue;
}

.uwImg{
    height:50px;
    width: 50px;
}


#pics{
    position: relative;
}

#quad{
    width: 100%;
    height: auto;
    margin: 20px;
}

#text {
    left: 50%;
    border-style: dotted;
    border-width: thin;
    text-shadow: 5px 5px 5px purple;
    position: absolute;
    text-align: left;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

#floated{
    float:right;
    background: purple;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;

}

#square{
    width: 150px;
}